name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd /home/ec2-user

          docker stop cicd-app || true
          docker rm cicd-app || true

          rm -rf cicd-project
          git clone https://github.com/sukhmaygiri/cicd-project.git

          cd cicd-project

          docker build -t cicd-app .
          docker run -d -p 80:5000 --name cicd-app cicd-app
